<div class="container py-4">
  <div class="row" *ngIf="!msgCarregando">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-right pb-4">
      <button type="button" class="btn btn-outline-primary" (click)="copy()" data-toggle="tooltip" data-placement="top" title="copiado!!!">copiar json</button>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          JSON
        </div>
        <div class="card-body">
          <pre>{{ newObject | json}}</pre>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="msgCarregando">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
      <strong>Carregando, Aguarde...</strong>
    </div>
  </div>
</div>
